<div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <h2 class="section-heading text-center">Day D – September 4th, 2022</h2>
            <hr class="primary">
            <p>
                Well, it is actually going to be a bit after the real day D.
                We are officially getting married the day before to avoid unnecessary bureaucracy when it comes to marrying a foreigner.
            </p>
            <p>
                Sunday will then be a day to celebrate our international union with all our friends and enjoy the real party!
            </p>
            <h4>A little timetable on how we aim to plan this to happen:</h4>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">12:00</th>
                    <td>
                        Arrival of guests and check-in.
                    </td>
                </tr>
                <tr>
                    <th>12:30</th>
                    <td>
                        Welcome drink and welcome tapas to get to know the place and other guests 😊.
                    </td>
                </tr>
                <tr>
                    <th>13:30</th>
                    <td>
                        The ceremony. Always a moment to drop a tear and take nice pictures.
                    </td>
                </tr>
                <tr>
                    <th>15:00</th>
                    <td>
                        Lunch. Yes, lunch at 15:00. Let's bring the Spanish culture to Czech Republic.
                    </td>
                </tr>
                <tr>
                    <th>17:30</th>
                    <td>
                        Cake and coffee. Perfect for a nap or speeches. Not at the same time.
                    </td>
                </tr>
                <tr>
                    <th>19:00</th>
                    <td>
                        First dance, then DJ Laz will get the party started.
                    </td>
                </tr>
                <tr>
                    <th>19:30</th>
                    <td>
                        A buffet will be served to ensure you have enough energy to perform your best "déhanché".
                    </td>
                </tr>
                <tr>
                    <th>23:00</th>
                    <td>
                        Night buffet. Food and ale is always provided to our best party warriors! What comes after will belong to history.
                    </td>
                </tr>
            </table>
            <p>
                In the afternoon, there is also a possibility of tasting local wines from the place itself with a little talk about the whole process of growing wine in this region.
            </p>

            <h4>Monday September 5th, 2022</h4>
            <p>
                Waking up and putting your sunglasses on 😊
            </p>
            <p>
                Breakfast of champions from 8:00 to 10:00.
            </p>
            <p>
                Check-out at 12:00 
            </p>
        </div>
    </div>
</div>