<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Kocanda Kravsko</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>
                Kravsko is a village located near a beautiful wine city called Znojmo. It is reachable from Znojmo by bus (bus nr. 805, stop called Kravsko, rozcestí k závodu and then walk approximately 12 minutes to Kocanda Kravsko) or by taxi (https://taxi-znojmo.cz/)  and easy to access by car as well. 
            </p>
            <p>
                TODO: Add GPS location and some cool pictures.
            </p>
            <p>
                For more information about the place, see here: https://www.kocandakravsko.cz/
            </p>
        </div>
    </div>
</div>
