{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="text-center"><i class="fa fa-4x fa-file-text"></i></div>
            <br>
            <h3 class="section-heading text-center">Paperless</h3>
            <hr class="light">
            <p>
                We wanted to have all of our invitations and thank-you notes being delivered digitally.
            </p>
            <p>
                This is not really to save the planet (although it's cool), but rather to take advantage of the technology to reach everybody easily in different countries.
                We intend also to use this website to share pictures of the wedding.
            </p>
            <p><small>Hope you like it, otherwise please blame the developer :)</small></p>
        </div>
        <div class="col-lg-4">
            <div class="text-center"><i class="fa fa-4x fa-champagne-glasses"></i></div>
            <br>
            <h3 class="section-heading text-center">Additional Information</h3>
            <hr class="light">
            <p>
                As for dress code, just wear whatever you would wear for a wedding and in which you feel comfortable and confident.
            </p>
            <p>
                All rooms should include their own bathroom and toilet.
            </p>
            <p>
                Kid's corner is going to be included as well (please mark whether you are coming with a kid on the invitation).
            </p>
        </div>
        <div class="col-lg-4">
            <div class="text-center"><i class="fa fa-4x fa-gift"></i></div>
            <br>
            <h3 class="section-heading text-center">Gifts</h3>
            <hr class="light">
            <p>
                The best gift will be your presence at our wedding, but if you do want give us something, you can deposit it on one of those accounts:
            </p>
            <p>
                CZK: 1705668013/3030
            </p>
            <p>
                EUR: <a href="{% static 'rib-boursorama-banque.pdf' %}" download>Bank details</a>
            </p>
        </div>
    </div>
</div>
