{% extends "base.html" %}
{% load static %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <nav id="mainNav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand page-scroll" href="#page-top">{{ couple_name }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="nav nav-pills me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#main-header">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#event">Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#kocanda">Kocanda Kravsko</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#other-stuff">Everything Else</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block main %}
    <header id="main-header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Bereme se! On se marie ! We're getting married!</h1>
            </div>
        </div>
    </header>
    <div>
        <section class="bg-info" id="welcome">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Welcome!</h2>
                        <hr>
                        <p>
                            Hello friends and family! If you landed on this page, you're very likely invited to our wedding.
                        </p>
                        <p>
                            If you're looking for information about the event, look no further!
                            Please see below all the details regarding our <a href="#event" class="page-scroll">wedding in Kravsko, Czech Republic</a>.
                        </p>
                        <p>
                            Looking forward to seeing everyone soon!
                        </p>
                        <p class="pull-right">- Karo & Tib</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="event">
            {% include 'partials/event.html' %}
        </section>
        <section id="kocanda" class="bg-dark">
            {% include 'partials/kocanda.html' %}
        </section>
        <section id="our-story">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="section-heading">Our Story</h2>
                        <hr>
                        <p>
                            It all started with one crazy Erasmus evening in Madrid seven years ago. A loud Czech girl and a mysterious French boy having no idea that years later they would unite the country of beer, cynicism and socks in sandals with the country of wine, protesting about everything and dining for hours. And yet here we come!
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-center">
                        <div id="CarouselOurStory" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                              <button type="button" data-bs-target="#CarouselOurStory" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#CarouselOurStory" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#CarouselOurStory" data-bs-slide-to="2" aria-label="Slide 3"></button>
                              <button type="button" data-bs-target="#CarouselOurStory" data-bs-slide-to="3" aria-label="Slide 4"></button>
                              <button type="button" data-bs-target="#CarouselOurStory" data-bs-slide-to="4" aria-label="Slide 5"></button>
                            </div>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="{% static 'bigday/images/madrid.jpg' %}" class="d-block w-100" alt="Once Upon A Time in Madrid">
                                <div class="carousel-caption d-none d-md-block">
                                  <h4>Once Upon A Time in Madrid</h4>
                                  {% comment %} <p>Some representative placeholder content for the first slide.</p> {% endcomment %}
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="{% static 'bigday/images/Vancouver.jpeg' %}" class="d-block w-100" alt="Interlude(s)">
                                <div class="carousel-caption d-none d-md-block">
                                  <h4>Interlude(s)</h4>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="{% static 'bigday/images/Vienna.jpeg' %}" class="d-block w-100" alt="Second Chapter">
                                <div class="carousel-caption d-none d-md-block">
                                  <h4>Second Chapter: Vienna</h4>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="{% static 'bigday/images/DSC_0454.jpg' %}" class="d-block w-100" alt="Baby loading">
                                <div class="carousel-caption d-none d-md-block">
                                  <h4>Baby loading</h4>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="{% static 'bigday/images/Family_1st.jpeg' %}" class="d-block w-100" alt="Third Chapter">
                                <div class="carousel-caption d-none d-md-block">
                                  <h4>Third Chapter: Parenthood</h4>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#CarouselOurStory" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#CarouselOurStory" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="other-stuff" class="bg-primary">
            {% include 'partials/misc.html' %}
        </section>
        <section id="contact" class="bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Contact us</h2>
                        <p>If you have any questions don't hesitate to reach out!</p>
                    </div>
                    <div class="col-lg-12 col-lg-offset-2 text-center">
                        <i class="fa fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p><a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
